main {
  width: 100%;
}
main .first_section {
  width: 100%;
  height: 431px;
  background-color: var(--color3);
  padding-left: 19%;
  padding-top: 70px;
  position: relative;
}
main .first_section .first_section_img {
  background-image: url("../../img/first_section.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 460px;
  height: 291px;
  position: absolute;
  left: 55%;
}
main .first_section h1 {
  width: 412px;
  height: 88px;
  font-family: "Roboto";
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  color: var(--color2);
  margin-bottom: 20px;
}
main .first_section p {
  width: 425px;
  height: 78px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: var(--color2);
  margin-bottom: 25px;
}
main .first_section button {
  width: 110px;
  height: 48px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.12);
  background: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color2);
  margin-right: 35px;
  cursor: pointer;
}
main .first_section button:hover {
  background-color: aqua;
}
main .first_section a {
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(0, 0, 0);
}
main .first_section a:hover {
  color: var(--color2);
}
main .first_article {
  width: 100%;
  height: 145px;
  background-color: var(--color4);
  padding-top: 28px;
}
main .first_article p {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: var(--color5);
  margin-bottom: 20px;
}
main .first_article .first_article_box {
  display: flex;
  gap: 37px;
  justify-content: center;
}
main .second_section {
  width: 100%;
  height: 1058px;
  padding-top: 70px;
}
main .second_section h2 {
  font-family: "Roboto";
  font-size: 29px;
  font-weight: 400;
  line-height: 36px;
  color: var(--color6);
  text-align: center;
  margin-bottom: 10px;
}
main .second_section .second_section_p {
  width: 500px;
  height: 22px;
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  color: var(--color6);
}
main .second_section .second_section_boxs {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 100px;
}
main .second_section .laptop {
  margin-bottom: 20px;
  margin-top: 30px;
}
main .second_section h3 {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 17px;
  color: var(--color6);
}
main .second_section .second_section_box_p {
  width: 389px;
  height: 66px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color6);
}
main .second_section .second_section_two_boxs {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 90px;
}
main .second_section .second_section_i {
  margin-top: 30px;
  margin-bottom: 20px;
}
main .second_section .second_section_h3 {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  color: var(--color6);
}
main .second_section .second_section_pp {
  width: 389px;
  height: 66px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color6);
}
main .second_section .second_section_box_icon {
  margin-top: 70px;
}
main .second_section .second_section_ii {
  width: 30px;
  height: 30px;
  margin-bottom: 11px;
}
main .second_section h4 {
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 17px;
}
main .second_section .second_section_ppp {
  width: 197px;
  height: 88px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
main .second_section .second_section_boxs_icon {
  display: flex;
  justify-content: center;
  gap: 20px;
}
main .second_article {
  width: 100%;
  height: 687px;
  background-color: var(--color7);
  padding-top: 70px;
}
main .second_article h2 {
  font-family: "Roboto";
  font-size: 29px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-bottom: 10px;
}
main .second_article .second_article_p {
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin-bottom: 70px;
}
main .second_article .second_article_box {
  width: 220px;
  height: 368px;
  background-color: var(--color2);
  padding-top: 15px;
  padding-left: 17px;
}
main .second_article h3 {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(43, 43, 43);
  margin-bottom: 15px;
}
main .second_article .second_article_spn {
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color8);
}
main .second_article .second_article_box_p {
  margin-bottom: 10px;
}
main .second_article .second_article_brd {
  display: flex;
  width: 93px;
  height: 1px;
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-bottom: 10px;
}
main .second_article .second_article_box_pp {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color9);
  margin-bottom: 14px;
}
main .second_article .second_article_similar_p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color10);
  margin-bottom: 15px;
}
main .second_article .second_article_btn {
  width: 186px;
  height: 42px;
  background: rgb(0, 0, 0);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.12);
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color2);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
main .second_article .second_article_btn:hover {
  background-color: var(--color3);
  color: var(--color6);
}
main .second_article .second_article_boxs {
  display: flex;
  justify-content: center;
  gap: 20px;
}
main .second_article .second_article_bottom_p {
  margin-top: 20px;
  text-align: center;
}
main .second_article .second_article_bottom_spn {
  color: rgb(72, 159, 217);
}
main .thrid_section {
  width: 100%;
  height: 462px;
  padding-top: 70px;
}
main .thrid_section h2 {
  font-family: "Roboto";
  font-size: 29px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-bottom: 45px;
  color: var(--color6);
}
main .thrid_section p {
  width: 752px;
  height: 93px;
  font-family: "Roboto Slab";
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  color: var(--color6);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 22px;
}
main .thrid_section img {
  display: flex;
  margin: 0 auto;
  margin-bottom: 34px;
}
main .thrid_article {
  width: 100%;
  height: 156px;
  background-color: var(--color11);
}
main .thrid_article .thrid_article_boxs {
  display: flex;
  justify-content: center;
}

:root {
  --color3: rgba(77, 189, 144, 1);
  --color4: rgba(62, 92, 80, 1);
  --color5: rgba(255, 255, 255, 0.31);
  --color6: rgba(51, 51, 51, 1);
  --color7: rgba(221, 231, 237, 1);
  --color8: rgba(72, 159, 217, 1);
  --color9: rgba(43, 43, 43, 1);
  --color10: rgba(199, 197, 197, 1);
  --color11: rgba(161, 191, 212, 1);
}/*# sourceMappingURL=main.css.map */